# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Android & Gradle
android/.gradle/
android/app/build/
android/.idea/
android/local.properties
*.apk
*.ap_
*.aab

# Node & Next.js
node_modules/
.next/
out/
next-env.d.ts
seeds_backup/

# IDEs & System
.idea/
.DS_Store
Thumbs.db
